@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  background: rgba(30, 29, 29, 0.768);
}

header .container {
  max-width: 1400px;
  height: 55px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


label {
  font-size: 20px;
  font-weight: 600;
}
input {
  background-color: #b4bb99;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ad9494;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: black;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;

}
div.error {
  padding: 10px;
  background: #c8dbc6b6;
  border: 1px solid wheat;
  color: red;
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #817d7da5;
  padding: 2px;
  margin-left: 14px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  width: 36px;
}

/* auth forms */
form.signup, form.login {
  max-width: 450px;
  padding: 20px;
  background: rgba(104, 102, 102, 0.801);
  border-radius: 14px;
}


.login ,.signup{
  width: 600px;
  height: 550px;
  margin-top: 5rem;

  
}

.loginpageInfo,.SignuppageInfo{
  padding-top: 5rem;
}


.mydiv{
  height: 100vh;
  display: flex;
  justify-content:space-around;
  scroll-behavior: auto;
  
}

.mybtn{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.loginContainer, .signupContainer{
  width: 100%;
  height: 100vh; 
  background-image: url('../public/hbg.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.8;
}

.h-full {
  height: 100%;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.bg-gradient-to-b {
  background: linear-gradient(to bottom, #0c0c1d, #111132);
}

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.p-10 {
  padding: 2.5rem; 
}

.opacity-40 {
  opacity: 0.4;
}

.rounded-xl {
  border-radius: 0.75rem; 
}

.h-screen {
  height: 100vh;
}

.scroll-snap-y {
  scroll-snap-type: y mandatory;
}

.scroll-snap-start {
  scroll-snap-align: start;
}
